<div class="container">
  <nav class="navbar">
    <div class="logo-area">
      <img src="../../../assets/logos/logo1.png" alt="" />
      <h4>Eazy<span>Logg</span></h4>
    </div>

    <div class="menu">
      <a (click)="getHomePage()" class="item">home</a>
      <a (click)="getEntregas()" class="item">entregas</a>
      <a (click)="getEntregadores()" class="item">entregadores</a>
      <a (click)="getRastreamento()" class="item">rastreamento</a>
      <a (click)="getSobre()" class="item">sobre nós</a>
    </div>

    <button mat-raised-button color="warn" class="btn-login" (click)="getLogin()">
      <mat-icon>account_circle</mat-icon>
      entrar
    </button>
  </nav>


  <div class="content">

    <div class="about">

      <h2 class="title">Sobre nós</h2>

      <p class="paragraph" style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Alias sit quidem, sint necessitatibus nulla fugiat tempora id voluptas eligendi
        quo hic velit natus architecto, numquam repellendus itaque distinctio,
        modi sunt inventore ex neque consequatur voluptate? Quidem qui, enim odio dolores tempore,
        amet facere officia molestiae modi, ducimus dignissimos. Sunt, nihil.
      </p>

      <div class="cards">

        <mat-card class="card">
          <mat-card-header>
            <img [src]="img" alt="">
          </mat-card-header>
          <mat-card-footer>
            <h2 class="card-title">Missão</h2>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus excepturi corrupti harum magni illo nobis saepe adipisci tempore tempora.
            </p>
          </mat-card-footer>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <img [src]="img" alt="">
          </mat-card-header>
          <mat-card-footer>
            <h2 class="card-title">Visão</h2>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus excepturi corrupti harum magni illo nobis saepe adipisci tempore tempora.
            </p>
          </mat-card-footer>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <img [src]="img" alt="">
          </mat-card-header>
          <mat-card-footer>
            <h2 class="card-title">Valores</h2>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus excepturi corrupti harum magni illo nobis saepe adipisci tempore tempora.
            </p>
          </mat-card-footer>
        </mat-card>

      </div>

      <p class="card-title" style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Alias sit quidem, sint necessitatibus nulla fugiat tempora id voluptas eligendi
        quo hic velit natus architecto, officia, obcaecati quaerat praesentium ipsum.
      </p>

    </div>

  </div>


  <div class="footer">

    <div class="row-a">
      <div class="logo-area">
        <span class="logo">
          <img src="../../../assets/logos/logo1.png" alt="" />
          <h4>Eazy<span>Logg</span></h4>
        </span>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus facere, molestiae doloremque praesentium quo eos pariatur aperiam quam adipisci!</p>
      </div>

      <div class="links-area">
        <ol>
          <li><h2 class="card-title">Links</h2></li>
          <li class="paragraph">Buscar entregas</li>
          <li class="paragraph">Anunciar entrega</li>
          <li class="paragraph">Sobre nós</li>
          <li class="paragraph">Rastreio</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Serviços</h2></li>
          <li class="paragraph">Entregas</li>
          <li class="paragraph">Parcerias</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Suporte</h2></li>
          <li class="paragraph">Rua A, 101, Centro</li>
          <li class="paragraph">+55 98765 4321</li>
          <li class="paragraph">suporte@eazylogg.com</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Mídias sociais</h2></li>
          <li class="paragraph"><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li class="paragraph"><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li class="paragraph"><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li class="paragraph"><i class="fa-brands fa-youtube"></i> YouTube</li>
        </ol>

      </div>

    </div>

    <div class="row-b">
      <p class="paragraph">Copyright © 2023 - EazyLogg - All Rights Reserved</p>
    </div>

  </div>

</div>
