<div class="container">
  <nav class="navbar">
    <div class="logo-area">
      <img src="../../../assets/logos/logo1.png" alt="" />
      <h4>Eazy<span>Logg</span></h4>
    </div>

    <div class="menu">
      <a (click)="getHomePage()" class="item">home</a>
      <a (click)="getEntregas()" class="item">entregas</a>
      <a (click)="getEntregadores()" class="item">entregadores</a>
      <a (click)="getRastreamento()" class="item">rastreamento</a>
      <a (click)="getSobre()" class="item">sobre nós</a>
    </div>

    <button mat-raised-button color="warn" class="btn-login" (click)="getLogin()">
      <mat-icon>account_circle</mat-icon>
      entrar
    </button>
  </nav>


  <div class="content">

    <form class="form">

      <h2 class="title-2">Cadastre-se</h2>

      <p class="quebra-linha"></p>

      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="text" matInput [formControl]="nome">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" [formControl]="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Repita a senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cpf ou Cnpj</mat-label>
        <input type="text" matInput [formControl]="cpfOuCnpj">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Data Nascimento</mat-label>
        <input type="text" matInput
               placeholder="Ex. 01/01/2001" [formControl]="dataNascimento">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Logradouro</mat-label>
        <input type="text" matInput [formControl]="logradouro">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Numero</mat-label>
        <input type="text" matInput [formControl]="numero">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cep</mat-label>
        <input type="text" matInput [formControl]="cep">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Complemento</mat-label>
        <input type="text" matInput [formControl]="complemento">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Bairro</mat-label>
        <input type="text" matInput [formControl]="bairro">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input type="text" matInput [formControl]="cidade">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input type="text" matInput [formControl]="estado">
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <mat-label>País</mat-label>
        <input type="text" matInput [formControl]="pais">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Telefone</mat-label>
        <input type="text" matInput [formControl]="telefone1">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Telefone 2 *</mat-label>
        <input type="text" matInput [formControl]="telefone2">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Telefone 3 *</mat-label>
        <input type="text" matInput [formControl]="telefone3">
      </mat-form-field>

      <button mat-raised-button color="warn" class="btn-first" (click)="getDataForm()">Cadastrar</button>
      <button mat-raised-button color="primary" class="btn-first">Voltar</button>

    </form>

  </div>


  <div class="footer">

    <div class="row-a">
      <div class="logo-area">
        <span class="logo">
          <img src="../../../assets/logos/logo1.png" alt="" />
          <h4>Eazy<span>Logg</span></h4>
        </span>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus facere, molestiae doloremque praesentium quo eos pariatur aperiam quam adipisci!</p>
      </div>

      <div class="links-area">
        <ol>
          <li><h2 class="card-title">Links</h2></li>
          <li class="paragraph">Buscar entregas</li>
          <li class="paragraph">Anunciar entrega</li>
          <li class="paragraph">Sobre nós</li>
          <li class="paragraph">Rastreio</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Serviços</h2></li>
          <li class="paragraph">Entregas</li>
          <li class="paragraph">Parcerias</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Suporte</h2></li>
          <li class="paragraph">Rua A, 101, Centro</li>
          <li class="paragraph">+55 98765 4321</li>
          <li class="paragraph">suporte@eazylogg.com</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Mídias sociais</h2></li>
          <li class="paragraph"><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li class="paragraph"><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li class="paragraph"><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li class="paragraph"><i class="fa-brands fa-youtube"></i> YouTube</li>
        </ol>

      </div>

    </div>

    <div class="row-b">
      <p class="paragraph">Copyright © 2023 - EazyLogg - All Rights Reserved</p>
    </div>

  </div>

</div>
