<div class="container">
  <nav class="navbar">
    <div class="logo-area">
      <img src="../../../assets/logos/logo1.png" alt="" />
      <h4>Eazy<span>Logg</span></h4>
    </div>

    <div class="menu">
      <a (click)="getHomePage()" class="item">home</a>
      <a (click)="getEntregas()" class="item">entregas</a>
      <a (click)="getEntregadores()" class="item">entregadores</a>
      <a (click)="getRastreamento()" class="item">rastreamento</a>
      <a (click)="getSobre()" class="item">sobre nós</a>
    </div>

    <button mat-raised-button color="warn" class="btn-login" (click)="getLogin()">
      <mat-icon>account_circle</mat-icon>
      entrar
    </button>
  </nav>


  <div class="content">

    <div class="pesquisa">

      <h2 class="title-3">Digite o código da entrega</h2>

      <p class="quebra-linha"></p>

      <mat-form-field appearance="outline">
        <mat-label>Pesquisa</mat-label>
        <input matInput placeholder="ex: BR20231030-PE123" [(ngModel)]="pesquisa">
        <mat-icon matSuffix (click)="getEntregasByCodigoRastreamento()">search</mat-icon>
      </mat-form-field>
    </div>

    <div class="resultado">

      <h2 class="title-3" *ngIf="entregaRastreamento == 0">Nenhum dado foi encontrado...</h2>

      <h3 class="card-title" *ngIf="entregaRastreamento == 0">Verifique se o código foi digitado corretamente.</h3>

      <p class="quebra-linha"></p>

      <mat-horizontal-stepper #stepper completed="false" [style]="style">

        <!-- change default 'edit' icon -->
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>

        <!-- changed step icons -->
        <ng-template matStepperIcon="primeiro">
          <mat-icon>handshake</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="segundo">
          <mat-icon>inventory</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="terceiro">
          <mat-icon>local_shipping</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="quarto">
          <mat-icon>done_all</mat-icon>
        </ng-template>

        <!-- Stepper -->
        <mat-step label="Solicitado" state="primeiro">
          <p>Entrega solicitada. Aguardando recolhimento.</p>
        </mat-step>

        <mat-step label="Recolhido" state="segundo">
          <p>Pacote recolhida pelo entregador.</p>
        </mat-step>

        <mat-step label="A caminho" state="terceiro">
          <p>Entrega a caminho. Rastreie em tempo real abaixo.</p>
        </mat-step>

        <mat-step label="Entregue" state="quarto">
          <p>Pacote entregue.</p>
        </mat-step>

      </mat-horizontal-stepper>

      <mat-accordion [style]="style">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <p class="card-title-2">Clique para rastrear a entrega:</p>
          </mat-expansion-panel-header>
          <div class="mapa-area">
            <p>Ultima atualização: 01/01/2023 - 21:54</p>
            <p>Local: Recife - PE, Brasil.</p>

            <img [src]="imgMapa" alt="">

          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </div>


  <div class="footer">

    <div class="row-a">
      <div class="logo-area">
        <span class="logo">
          <img src="../../../assets/logos/logo1.png" alt="" />
          <h4>Eazy<span>Logg</span></h4>
        </span>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus facere, molestiae doloremque praesentium quo eos pariatur aperiam quam adipisci!</p>
      </div>

      <div class="links-area">
        <ol>
          <li><h2 class="card-title">Links</h2></li>
          <li class="paragraph">Buscar entregas</li>
          <li class="paragraph">Anunciar entrega</li>
          <li class="paragraph">Sobre nós</li>
          <li class="paragraph">Rastreio</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Serviços</h2></li>
          <li class="paragraph">Entregas</li>
          <li class="paragraph">Parcerias</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Suporte</h2></li>
          <li class="paragraph">Rua A, 101, Centro</li>
          <li class="paragraph">+55 98765 4321</li>
          <li class="paragraph">suporte@eazylogg.com</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Mídias sociais</h2></li>
          <li class="paragraph"><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li class="paragraph"><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li class="paragraph"><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li class="paragraph"><i class="fa-brands fa-youtube"></i> YouTube</li>
        </ol>

      </div>

    </div>

    <div class="row-b">
      <p class="paragraph">Copyright © 2023 - EazyLogg - All Rights Reserved</p>
    </div>

  </div>

</div>
