<div class="container">
  <nav class="navbar">
    <div class="logo-area">
      <img src="../../../assets/logos/logo1.png" alt="" />
      <h4>Eazy<span>Logg</span></h4>
    </div>

    <div class="menu">
      <a (click)="getHomePage()" class="item">home</a>
      <a (click)="getEntregas()" class="item">entregas</a>
      <a (click)="getEntregadores()" class="item">entregadores</a>
      <a (click)="getRastreamento()" class="item">rastreamento</a>
      <a (click)="getSobre()" class="item">sobre nós</a>
    </div>

    <button mat-raised-button color="warn" class="btn-login" (click)="getLogin()">
      <mat-icon>account_circle</mat-icon>
      entrar
    </button>
  </nav>

  <div class="banner-slider">
    <div class="col">
      <h1 class="title">Entrega expressa para sua vida corrida</h1>
      <p  class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci
        excepturi laboriosam odit sunt animi rem natus error eius...
      </p>
      <div class="button-area">
        <button mat-raised-button color="warn" class="btn-first" (click)="getNovaEntrega()">
          Anunciar entrega
        </button>
        <button mat-raised-button color="none" class="btn-second" (click)="getRastreamento()">
          Rastrear entrega
        </button>
      </div>
      <div class="data">
        <span>
          <h2 class="title-2">+50</h2>
          <p class="paragraph">Cidades</p>
        </span>
        <span>
          <h2 class="title-2">+500</h2>
          <p class="paragraph">Entregas realizadas</p>
        </span>
        <span>
          <h2 class="title-2">+100</h2>
          <p class="paragraph">Parceiros</p>
        </span>
      </div>
    </div>

    <div class="col">
      <img src="../../../assets/images/img1.png" alt="" />
    </div>
  </div>

  <div class="anuncios-area">
    <h2 class="title-3">Ultimos anuncios</h2>

    <div class="cards">

      <mat-card class="card">
        <mat-card-header>
          <img [src]="linkDefault" alt="">
        </mat-card-header>

        <mat-card-content>
          <a routerLink="/entregas-page" class="link">Entrega para João Pessoa - PB</a>
        </mat-card-content>

        <mat-card-footer align="end">
          <h2 class="title-3">R$ 30.00</h2>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <img [src]="linkDefault" alt="">
        </mat-card-header>

        <mat-card-content>
          <a routerLink="/entregas-page" class="link">Entrega para João Pessoa - PB</a>
        </mat-card-content>

        <mat-card-footer align="end">
          <h2 class="title-3">R$ 30.00</h2>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <img [src]="linkDefault" alt="">
        </mat-card-header>

        <mat-card-content>
          <a routerLink="/entregas-page" class="link">Entrega para João Pessoa - PB</a>
        </mat-card-content>

        <mat-card-footer align="end">
          <h2 class="title-3">R$ 30.00</h2>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <img [src]="linkDefault" alt="">
        </mat-card-header>

        <mat-card-content>
          <a routerLink="/entregas-page" class="link">Entrega para João Pessoa - PB</a>
        </mat-card-content>

        <mat-card-footer align="end">
          <h2 class="title-3">R$ 30.00</h2>
        </mat-card-footer>
      </mat-card>

    </div>

    <a routerLink="/entregas" class="link">Ver tudo</a>

  </div>

  <div class="services-area">

    <div class="col">
      <h2 class="title-3">A gama de serviços oferecidos pelo nosso App</h2>
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus iusto amet quos aperiam sunt ducimus, expedita aspernatur deleniti nulla?</p>
      <img src="../../../assets/images/img2.png" alt="" class="img-1">
    </div>

    <div class="col">
      <div class="cards">

        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-warehouse"></i>
          </div>
          <div class="data">
            <h3 class="card-title">Anuncio de entregas por empresas</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus iusto amet quos aperiam sunt ducimus...</p>
          </div>
        </div>

        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="data">
            <h3 class="card-title">Busca de entregas por motoristas</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus iusto amet quos aperiam sunt ducimus...</p>
          </div>
        </div>

        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-box"></i>
          </div>
          <div class="data">
            <h3 class="card-title">Coleta da mercadoria</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus iusto amet quos aperiam sunt ducimus...</p>
          </div>
        </div>

        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-truck"></i>
          </div>
          <div class="data">
            <h3 class="card-title">Entrega da forma mais rápida</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor possimus iusto amet quos aperiam sunt ducimus...</p>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="support-area">
    <div class="col">
      <h2 class="title-3">Suporte 24/7 no nosso chat</h2>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button mat-raised-button color="warn" class="btn-first">
        Anunciar entrega
      </button>
    </div>

    <div class="col">
      <img src="../../../assets/images/img3.png" alt="">
    </div>
  </div>

  <div class="sobre">

    <h2 class="title-3">Por quê  nos escolher?</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="cards">
      <div class="card">
        <img src="../../../assets/icons/Bike.png" alt="">
        <h2 class="card-title">Praticidade</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="card">
        <img src="../../../assets/icons/Logistics.png" alt="">
        <h2 class="card-title">Entregas rápidas</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="card">
        <img src="../../../assets/icons/Map.png" alt="">
        <h2 class="card-title">Rastreamento 24h</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

      <div class="card">
        <img src="../../../assets/icons/App.png" alt="">
        <h2 class="card-title">Aplicativo próprio</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>

    <div class="avaliacoes">
      <div class="col-d">
        <img src="../../../assets/images/img4.png" alt="">
      </div>
      <div class="col-e">
        <h2 class="title-3">Como nossos clientes nos avaliam?</h2>
        <div class="card">
          <h2 class="card-title">Serviço incrível</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam beatae quia vero porro reprehenderit! Voluptas excepturi ullam omnis, aliquam sit velit. Possimus quam unde optio saepe culpa minima distinctio!</p>
          <div class="client-rating">
            <span class="starts-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>

            <span class="client-profile-short">
              <span class="data">
                <h2 class="card-title">nome do usuario</h2>
                <p class="paragraph">profissão do usuario</p>
              </span>
              <img src="../../../assets/images/user.jpg" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">

    <div class="row-a">
      <div class="logo-area">
        <span class="logo">
          <img src="../../../assets/logos/logo1.png" alt="" />
          <h4>Eazy<span>Logg</span></h4>
        </span>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus facere, molestiae doloremque praesentium quo eos pariatur aperiam quam adipisci!</p>
      </div>

      <div class="links-area">
        <ol>
          <li><h2 class="card-title">Links</h2></li>
          <li class="paragraph">Buscar entregas</li>
          <li class="paragraph">Anunciar entrega</li>
          <li class="paragraph">Sobre nós</li>
          <li class="paragraph">Rastreio</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Serviços</h2></li>
          <li class="paragraph">Entregas</li>
          <li class="paragraph">Parcerias</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Suporte</h2></li>
          <li class="paragraph">Rua A, 101, Centro</li>
          <li class="paragraph">+55 98765 4321</li>
          <li class="paragraph">suporte@eazylogg.com</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Mídias sociais</h2></li>
          <li class="paragraph"><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li class="paragraph"><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li class="paragraph"><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li class="paragraph"><i class="fa-brands fa-youtube"></i> YouTube</li>
        </ol>

      </div>

    </div>

    <div class="row-b">
      <p class="paragraph">Copyright © 2023 - EazyLogg - All Rights Reserved</p>
    </div>

  </div>

</div>
