<div class="container">

  <div class="col">
    <mat-card>
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error>Campo brigatório*</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Campo brigatório*</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="btn-first" (click)="login()">Login</button>
      <button mat-raised-button color="warn" class="btn-first" (click)="getSignup()">Cadastrar</button>

      <h2 class="card-title">ou entre com</h2>

      <div class="login-outros">
        <button mat-raised-button class="btn-first">
          <i class="fa-brands fa-google"></i>Google</button>
        <button mat-raised-button class="btn-first">
          <i class="fa-brands fa-apple"></i>Apple</button>
      </div>

    </mat-card>
  </div>

</div>
