<div class="container">
  <nav class="navbar">
    <div class="logo-area" (click)="getHomePage()">
      <img src="../../../assets/logos/logo1.png" alt="" />
      <h4>Eazy<span>Logg</span></h4>
    </div>

    <div class="menu">
      <a (click)="getHomePage()" class="item">home</a>
      <a (click)="getEntregas()" class="item">entregas</a>
      <a (click)="getEntregadores()" class="item">entregadores</a>
      <a (click)="getRastreamento()" class="item">rastreamento</a>
      <a (click)="getSobre()" class="item">sobre nós</a>
    </div>

    <button mat-raised-button color="warn" class="btn-login" (click)="getLogin()">
      <mat-icon>account_circle</mat-icon>
      entrar
    </button>
  </nav>


  <div class="content">

    <section class="pesquisa-area">

      <mat-form-field appearance="outline">
        <mat-label>Pesquisa</mat-label>
        <input matInput placeholder="ex: Recife" [(ngModel)]="pesquisa">
        <mat-icon matSuffix (click)="getPesquisa()">search</mat-icon>
      </mat-form-field>

    </section>

    <div class="itens-area">

      <section class="filtros-area">

        <h2 class="card-title">Ordenar por</h2>
        <mat-form-field>
          <mat-label>Ordenar entregas</mat-label>
            <mat-select matNativeControl [formControl]="ordenar">
              <mat-option value="menor preço">Menor preço</mat-option>
              <mat-option value="maior preço">Maior preço</mat-option>
              <mat-option value="mais recente">Mais recente</mat-option>
              <mat-option value="mais antigo">Mais antigo</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="quebra-linha"></p>

        <h2 class="card-title">Valor da entrega pacote</h2>
        <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel" color="warn" style="width: 220px;">
          <input matSliderThumb>
        </mat-slider>
        <p class="quebra-linha"></p>

        <h2 class="card-title">Local de coleta</h2>
        <mat-form-field>
          <mat-label>Estado</mat-label>
            <mat-select matNativeControl [formControl]="estado">
              <mat-option value="pernambuco">Pernambuco</mat-option>
              <mat-option value="paraiba">Paraiba</mat-option>
              <mat-option value="bahia">Bahia</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cidade</mat-label>
            <mat-select matNativeControl [formControl]="cidade">
              <mat-option value="recife">Recife</mat-option>
              <mat-option value="olinda">Olinda</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="quebra-linha"></p>

        <h2 class="card-title">Porte do pacote</h2>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
            <mat-select matNativeControl [formControl]="porte">
              <mat-option value="todos">Todos</mat-option>
              <mat-option value="leve">Leve</mat-option>
              <mat-option value="medio">Médio</mat-option>
              <mat-option value="pesado">Pesado</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="quebra-linha"></p>

        <button mat-raised-button color="warn" class="btn-first" (click)="filtros()">
          <mat-icon>search</mat-icon>
          Filtrar
        </button>

        <button mat-raised-button class="btn-second" (click)="limparFiltros()">
          <mat-icon>clear</mat-icon>
          Limpar filtros
        </button>

      </section>

      <section class="listagem-area">

        <span class="breadcrumb">
          <h2><i class="fa-solid fa-home"></i>
            <a routerLink="/">Home</a> >
            <a class="selected" routerLink="/entregas">Entregas</a>
          </h2>
        </span>

      <h2 class="title-3" *ngIf="pacote < 1">Ooops... sua pesquisa não retornou nenhum item. Tente novamente</h2>

      <div class="skeleton-card" *ngIf="loadData == true">

          <div class="img">
            <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '100%',
              'width': '100%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          </div>

          <div class="body">
            <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '30px',
              'width': '80%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          <ngx-skeleton-loader [count]="3" [theme]="{
              'border-radius': '10px',
              'height': '20px',
              'width': '90%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          <br>
          <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '40px',
              'width': '25%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
        </div>
      </div>

      <div class="skeleton-card" *ngIf="loadData == true">

        <div class="img">
          <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '100%',
              'width': '100%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          </div>

          <div class="body">
            <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '30px',
              'width': '80%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          <ngx-skeleton-loader [count]="3" [theme]="{
              'border-radius': '10px',
              'height': '20px',
              'width': '90%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
          <br>
          <ngx-skeleton-loader [count]="1" [theme]="{
              'border-radius': '10px',
              'height': '40px',
              'width': '25%',
              'background-color': '#f2f2f2',
              border: '1px solid white'}">
          </ngx-skeleton-loader>
        </div>
      </div>

      <mat-card class="card" *ngFor="let item of pacote">
        <mat-card-header>
          <img [src]="linkDefault" alt="">
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="['/entregas-page', item.id]"class="link">{{ item.descricao }}</a>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quam, ut consequuntur atque debitis totam maxime ipsum perferendis deserunt nulla voluptas delectus harum eaque dolorum quibusdam aut distinctio quo? Voluptas.
          </p>
          <span class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star-half"></i>
          </span>
          <mat-card-footer align="start">
            <p class="paragraph">
              <i class="fa-solid fa-user" style="margin: 0 10px 0 0;"></i> Por: {{ item.contratanteId.nome }}
              <i class="fa-solid fa-map" style="margin: 0 10px 0 20px;"></i> Coleta em: {{ item.contratanteId.nome }}
              <i class="fa-solid fa-weight" style="margin: 0 10px 0 20px;"></i> Porte: {{ item.porte }}
              <i class="fa-solid fa-calendar" style="margin: 0 10px 0 20px;"></i> Data de entrega: 01/01/2024
            </p>
            <h2 class="title-3">{{ item.valor | currency }}</h2>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>

      <p class="quebra-linha"></p>

      <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
      </mat-paginator>

      </section>

    </div>

  </div>


  <div class="footer">

    <div class="row-a">
      <div class="logo-area">
        <span class="logo">
          <img src="../../../assets/logos/logo1.png" alt="" />
          <h4>Eazy<span>Logg</span></h4>
        </span>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis natus facere, molestiae doloremque praesentium quo eos pariatur aperiam quam adipisci!</p>
      </div>

      <div class="links-area">
        <ol>
          <li><h2 class="card-title">Links</h2></li>
          <li class="paragraph">Buscar entregas</li>
          <li class="paragraph">Anunciar entrega</li>
          <li class="paragraph">Sobre nós</li>
          <li class="paragraph">Rastreio</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Serviços</h2></li>
          <li class="paragraph">Entregas</li>
          <li class="paragraph">Parcerias</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Suporte</h2></li>
          <li class="paragraph">Rua A, 101, Centro</li>
          <li class="paragraph">+55 98765 4321</li>
          <li class="paragraph">suporte@eazylogg.com</li>
        </ol>

        <ol>
          <li><h2 class="card-title">Mídias sociais</h2></li>
          <li class="paragraph"><i class="fa-brands fa-instagram"></i> Instagram</li>
          <li class="paragraph"><i class="fa-brands fa-twitter"></i> Twitter</li>
          <li class="paragraph"><i class="fa-brands fa-facebook"></i> Facebook</li>
          <li class="paragraph"><i class="fa-brands fa-youtube"></i> YouTube</li>
        </ol>

      </div>

    </div>

    <div class="row-b">
      <p class="paragraph">Copyright © 2023 - EazyLogg - All Rights Reserved</p>
    </div>

  </div>

</div>
